## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt

## Intermediate documents:
*.dvi
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa

# achemso
acs-*.bib

# amsthm
*.thm

# beamer
*.nav
*.snm
*.vrb

# cprotect
*.cpt

#(e)ledmac/(e)ledpar
*.end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls

# gnuplottex
*-gnuplottex-*

# hyperref
*.brf

# knitr
*-concordance.tex
*.tikz
*-tikzDictionary

# listings
*.lol

# makeidx
*.idx
*.ilg
*.ind
*.ist

# minitoc
*.maf
*.mtc
*.mtc[0-9]
*.mtc[1-9][0-9]

# minted
_minted*
*.pyg

# morewrites
*.mw

# mylatexformat
*.fmt

# nomencl
*.nlo

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# pdfcomment
*.upa
*.upb

#pythontex
*.pytxcode
pythontex-files-*/

# Texpad
.texpadtmp

# TikZ & PGF
*.dpth
*.md5
*.auxlock

# todonotes
*.tdo

# xindy
*.xdy

# xypic precompiled matrices
*.xyc

# WinEdt
*.bak
*.sav

# endfloat
*.ttt
*.fff

# Latexian
TSWLatexianTemp*
src/trends.txt
*.csv
Project2/stanford-corenlp-full-2015-12-09/CoreNLP-to-HTML.xsl
Project2/stanford-corenlp-full-2015-12-09/LIBRARY-LICENSES
Project2/stanford-corenlp-full-2015-12-09/LICENSE.txt
Project2/stanford-corenlp-full-2015-12-09/Makefile
Project2/stanford-corenlp-full-2015-12-09/README.txt
Project2/stanford-corenlp-full-2015-12-09/SemgrexDemo.java
Project2/stanford-corenlp-full-2015-12-09/ShiftReduceDemo.java
Project2/stanford-corenlp-full-2015-12-09/StanfordCoreNlpDemo.java
Project2/stanford-corenlp-full-2015-12-09/StanfordDependenciesManual.pdf
Project2/stanford-corenlp-full-2015-12-09/build.xml
Project2/stanford-corenlp-full-2015-12-09/corenlp.sh
Project2/stanford-corenlp-full-2015-12-09/ejml-0.23-src.zip
Project2/stanford-corenlp-full-2015-12-09/ejml-0.23.jar
Project2/stanford-corenlp-full-2015-12-09/input.txt
Project2/stanford-corenlp-full-2015-12-09/input.txt.xml
Project2/stanford-corenlp-full-2015-12-09/javax.json-api-1.0-sources.jar
Project2/stanford-corenlp-full-2015-12-09/javax.json.jar
Project2/stanford-corenlp-full-2015-12-09/joda-time-2.9-sources.jar
Project2/stanford-corenlp-full-2015-12-09/joda-time.jar
Project2/stanford-corenlp-full-2015-12-09/jollyday-0.4.7-sources.jar
Project2/stanford-corenlp-full-2015-12-09/jollyday.jar
Project2/stanford-corenlp-full-2015-12-09/outs
Project2/stanford-corenlp-full-2015-12-09/patterns/example.properties
Project2/stanford-corenlp-full-2015-12-09/patterns/goldnames.txt
Project2/stanford-corenlp-full-2015-12-09/patterns/goldplaces.txt
Project2/stanford-corenlp-full-2015-12-09/patterns/names.txt
Project2/stanford-corenlp-full-2015-12-09/patterns/otherpeople.txt
Project2/stanford-corenlp-full-2015-12-09/patterns/places.txt
Project2/stanford-corenlp-full-2015-12-09/patterns/presidents.txt
Project2/stanford-corenlp-full-2015-12-09/patterns/stopwords.txt
Project2/stanford-corenlp-full-2015-12-09/pom.xml
Project2/stanford-corenlp-full-2015-12-09/protobuf.jar
Project2/stanford-corenlp-full-2015-12-09/result_non_sentiment
Project2/stanford-corenlp-full-2015-12-09/result_sentiment
Project2/stanford-corenlp-full-2015-12-09/sem-0000-0.00.ser.gz
Project2/stanford-corenlp-full-2015-12-09/sem-0001-0.00.ser.gz
Project2/stanford-corenlp-full-2015-12-09/sem-0002-0.00.ser.gz
Project2/stanford-corenlp-full-2015-12-09/sem-0003-0.00.ser.gz
Project2/stanford-corenlp-full-2015-12-09/sem-0004-0.00.ser.gz
Project2/stanford-corenlp-full-2015-12-09/sem-0005-0.00.ser.gz
Project2/stanford-corenlp-full-2015-12-09/sem.ser.gz
Project2/stanford-corenlp-full-2015-12-09/slf4j-api.jar
Project2/stanford-corenlp-full-2015-12-09/slf4j-simple.jar
Project2/stanford-corenlp-full-2015-12-09/stanford-corenlp-3.6.0-javadoc.jar
Project2/stanford-corenlp-full-2015-12-09/stanford-corenlp-3.6.0-models.jar
Project2/stanford-corenlp-full-2015-12-09/stanford-corenlp-3.6.0-sources.jar
Project2/stanford-corenlp-full-2015-12-09/stanford-corenlp-3.6.0.jar
Project2/stanford-corenlp-full-2015-12-09/sutime/defs.sutime.txt
Project2/stanford-corenlp-full-2015-12-09/sutime/english.holidays.sutime.txt
Project2/stanford-corenlp-full-2015-12-09/sutime/english.sutime.txt
Project2/stanford-corenlp-full-2015-12-09/tokensregex/color.input.txt
Project2/stanford-corenlp-full-2015-12-09/tokensregex/color.properties
Project2/stanford-corenlp-full-2015-12-09/tokensregex/color.rules.txt
Project2/stanford-corenlp-full-2015-12-09/tokensregex/retokenize.txt
Project2/stanford-corenlp-full-2015-12-09/xom-1.2.10-src.jar
Project2/stanford-corenlp-full-2015-12-09/xom.jar
